.position2 {
  max-width: 100vw;
  height: 90vh;
  display: flex;
  background-image: linear-gradient(to top right, #0a2d53, #306594);
  background-image: linear-gradient(to top right, #004187, #397cb7);
}
.positionImage2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.positionInput {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.positionInputContainer2 {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.positionInputHeading {
  padding:  0 50px ;
}
.positionInputHeading h2{
  color: rgb(255, 255, 255);
}

.positionInputHeading h3{
  color: black;
  font-size: 19px;
  font-style: italic;
  text-align: left;
  padding: 0;
  font-weight: 500;
}

.position2 .parent2 {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: rgb(255, 255, 255);
  background-image: url("https://img.freepik.com/free-photo/blue-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-57682.jpg");
  background-size: cover;
  background-position: bottom;
  border: 2px solid rgba(123, 123, 123, 0.604);
  display: flex;
}
#dog2 {
  margin: 50px 0 0 50px;
  width: 45%;
  filter: brightness(170%) saturate(150%) contrast(150%);
}
#boy2 {
  width: 100%;
  position: relative;
  background-image: url("../assets/boyPng.png");
  background-size: 10%;
  background-repeat: no-repeat;
}
#dogFood2 {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 15%;
}
.position2 img {
  position: absolute;
  transition: all ease-in-out 3s;
}
.commonInputParent2Heading {
  text-align: center;
  color: aliceblue;
}
.positionInputContainer2 input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  outline: none;
}
.positionInputRelativeChild2,
.positionInputAbsolutChild2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.commonInputParent2 {
  display: flex;
  justify-content: space-between;
}
