.home {
  max-width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.heroBackground {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/homeBackground.jpeg");
  /* background-image: url('https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?w=740&t=st=1716258913~exp=1716259513~hmac=b35e478daa238d083a4c50e92b0e2d4bf8da75a083dc0fcf94c1e24b22f4f85b'); */
  background-image: url("https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_post_page%2F4087459%2Fcover_image%2Fretina_1708x683%2Fop-Ten-Front-End-Design-Rules-For-Developers_Luke-Newsletter-070c164fb7e7be59e1ffc7c5c83679da.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: hue-rotate(10deg) contrast(160%) saturate(120%);
}

.hero {
  padding: 20px 40px;
  max-width: 80%;
  height: 60%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 78, 112);
  color: rgb(0, 16, 79);
  /* color: #050832; */
  gap: 20px;
  background-attachment: fixed;
  background: rgba(120, 120, 120, 0.294);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  box-shadow: 0 4px 30px rgba(41, 41, 41, 0.1);
  backdrop-filter: blur(4px);
  /* -webkit-backdrop-filter: blur(5px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero h1 {
  padding: 10px 25px;
  font-size: 65px;
  text-shadow: 2px 2px 3px #bdc2e0ad;
  text-shadow: 2px 2px 3px #353535ad;
  /* border: 2px solid rgba(44, 44, 44, 0.492); */
  /* border: 3px solid rgb(0, 16, 79); */
  border-radius: 5px;
  color: #050832;
  color: aliceblue;
}
.hero h2 {
  font-size: 35px;
  color: #050832;
  color: aliceblue;
  text-shadow: 1px 1px 1px #000000, 2px 2px 2px #b4b4b4;
  text-shadow: 1px 1px 1px #000000, 2px 2px 2px #393939;
}

.hero h3 {
  font-size: 25px;
  color: #050832;
  color: aliceblue;
  text-shadow: 0px 0px 1px #000000, 1px 1px 1px #aeaeae;
  text-shadow: 0px 0px 1px #000000, 1px 1px 1px #1d1d1d;
}
.welcome,
.whatIsSM,
.whatCanDoInSm {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  gap: 30px;
}
.welcomeContent,
.whatIsSMContent,
.whatCanDoInSmContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.welcomeImage,
.whatIsSMImage,
.whatCanDoInSmImage {
  width: 50%;
  height: 100%;
}
.welcomeImage img,
.whatIsSM img,
.whatCanDoInSmImage img {
  width: 90%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 5px;
}

.css {
  width: 100%;
  height: 50vh;
  /* background-color: #daf7fe; */
  background-color: #c8c9e3;
  /* background-image: radial-gradient(#DEE4F0, #C8C9E3, #a0a6cb); */
  background-color: hsl(202, 100%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.css h2 {
  color: #00153c;
  font-size: 30px;
}

.css h3 {
  font-size: 22px;
  color: #00153c;
}

.css button {
  border-radius: 5px;
  border: 1px solid rgba(32, 32, 32, 0.162);
  border-radius: 0;
  background: linear-gradient(145deg, #00174d, #28747d);
  box-shadow: 7px 7px 12px #bebebe, -7px -7px 12px #ffffff;
  padding: 15px 20px;
  color: aliceblue;
  font-size: 20px;
}

.js {
  width: 100%;
  height: 50vh;
  /* background-color: #00153c; */
  background-color: #adb0ff;
  /* background-image: radial-gradient(#00153e, #090b3b, #000425); */
  background-color: #102c5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.js h2 {
  color: #e3f9ff;
  font-size: 30px;
}

.js h3 {
  font-size: 22px;
  color: #e3f9ff;
}
.js button {
  border-radius: 5px;
  border: 1px solid rgba(32, 32, 32, 0.162);
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f0f0, #f5feff);
  box-shadow: 2px 2px 5px #9df7ff, -2px -2px 5px #a2b3c0;
  padding: 15px 20px;
  font-size: 19px;
  color: #00153c;
  font-weight: 900;
}

.reactJs {
  width: 100%;
  height: 50vh;
  /* background-color: #daf7fe; */
  /* background-color: #C8C9E3; */
  /* background-image: radial-gradient(#DEE4F0, #C8C9E3, #a0a6cb); */
  background-color: hsl(202, 100%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.reactJs h2 {
  color: #00153c;
  font-size: 30px;
}

.reactJs h3 {
  padding: 0 30px;
  font-size: 22px;
  color: #00153c;
}

.reactJs button {
  border-radius: 5px;
  border: 1px solid rgba(32, 32, 32, 0.162);
  border-radius: 50px;
  background: linear-gradient(145deg, #00174d, #28747d);
  box-shadow: 7px 7px 12px #bebebe, -7px -7px 12px #ffffff;
  padding: 15px 20px;
  color: aliceblue;
  font-size: 20px;
}

.websiteIntro {
  color: aliceblue;
  /* background-image: radial-gradient(#00153e, #090b3b, #000425); */
  background-color: #102c5d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 50px 25px;
}

.websiteIntro h1 {
  font-size: 35px;
  text-align: center;
}

.websiteIntro h2 {
  font-size: 27px;
  text-align: center;
}

.websiteIntro h4 {
  font-weight: 300;
  font-size: 19px;
  text-align: justify;
}
