.selectorsContainer {
  max-width: 100vw;
  color: aliceblue  ;
  background-image: linear-gradient(to right, #4e4e8e, #031c37);
}
.heading {
  padding: 10px 0;
  min-height: 5vh;
}
.selectors {
  display: flex;
  align-items: center;
  min-height: 95vh;
}

.objects {
  min-width: 50%;
  height: 50vh;
  background-image: url("https://img.freepik.com/premium-vector/cartoon-illustration-landscape-with-moon-trees_135595-81200.jpg?w=826");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.eating {
  min-width: 50%;
  min-height: 50vh;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px;
  transform: rotateY(180deg);
  border-radius: 5px;
}

  /* img {
    max-width: 200px;
    max-height: 200px;
  } */

.tiger {
  width: 220px;
  height: 200px;
  transform: rotateY(180deg);
  margin-bottom: -25px;
}

#reversedTiger {
  transform: rotateY(0deg);
}

#girl {
  width: auto;
  height: 230px;
  margin: 0 40px 10px 0;
}

#hemanPng {
  width: auto;
  height: 200px;
  transform: rotateY(180deg);
}

#shaggyPng {
  width: auto;
  height: 200px;
}

#scoobyDogPng {
  width: auto;
  height: 200px;
}

h1 {
  text-align: center;
}

.selectorsContainer h3 {
  color: aliceblue;
  padding: 0 30px;
  font-size: clamp(16px, 0.5vw, 20px);
  text-align: center;
}

.questions {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectorsInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectorsInput input {
  padding: 15px;
  width: 400px;
  border: none;
  outline: none;
  height: 50px;
}

.selectorsInput button {
  padding: 15px;
  border: none;
  outline: none;
  margin: 10px;
  height: 50px;
}
.nextLevel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nextLevel button {
  font-size: 18px;
  padding: 10px 20px;
}
pre {
  color: aliceblue;
}

#none{
  display: none;
}